
.mostrar_color{
    background: #3a8dd3;
}


          .ventanaReporte, .ventanaNuevoLineaProducto, .ventanaNuevoSubLineaProducto{
    display: none;
    width: calc(100% - 220px);
    height: calc(100vh - 70px);
    position: fixed;
    top: 70px;
    left: 220px;
    background: transparent;
    z-index: 10;
}



.ventanaReporte form, .ventanaNuevoLineaProducto form, .ventanaNuevoSubLineaProducto form{
    margin: 10px auto;
    width: 500px;
    padding: 1em;
    background: #fff;
    border-radius: 5px;
    position: relative;
    box-shadow: 0px 3px 5px 7px rgba(0,0,0,0.1);
}

.ventanaReporte .cerrar, .ventanaNuevoLineaProducto .cerrar, .ventanaNuevoSubLineaProducto .cerrar{
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
}

.ventanaReporte form h2, .ventanaNuevoLineaProducto form h2, .ventanaNuevoSubLineaProducto form h2{
    text-align: center;
    width: 100%;
    font-weight: 100;
    margin-bottom: 1em;
}

.ventanaReporte form table, .ventanaNuevoLineaProducto form table, .ventanaNuevoSubLineaProducto form table{
    width: 100%;
    border-collapse: collapse;
}

.ventanaReporte form table td, .ventanaNuevoLineaProducto form table td, .ventanaNuevoSubLineaProducto form table td{
   padding: 1em;
   border: 1px solid rgba(0,0,0,0.1);
   font-size: .9em;
}
.ventanaReporte form table .campo, .ventanaNuevoLineaProducto form table .campo, .ventanaNuevoSubLineaProducto form table .campo{
    width: 100%;
    padding: .5em;
    border: 1px solid rgba(0,0,0,0.1);
    outline-color: transparent;
    background: #f3f3f3;
}

.ventanaReporte form table .boton, .ventanaNuevoLineaProducto form table .boton, .ventanaNuevoSubLineaProducto form table .boton{
    background: #3b5998;
    color: #fff;
    width: 200px;
    border: 1px solid rgba(0,0,0,0.1);
    outline-color: transparent;
    padding: .5em;
    border-radius: 2px;
    font-family: 'Open Sans', sans-serif;
    box-shadow: 0px 1px 2px 3px rgba(0,0,0,0.2);
    cursor: pointer;
}

.verde{
    background: #C7E6DF;
}
a.btn{
    display: inline-block;
    text-decoration: none;
    padding: .5em 1em;
    color: #fff;
    border-radius: 4px;
    border: 1px solid transparent;
}
 a.Productos{
   display: block;
   text-decoration: none;
   background-color: #079272;
}

.targes .nuevoReporte ,.targes .nuevoLineaProducto, .targes .nuevoSubLineaProducto{
    margin-bottom: 1em;
     
}

.targes table.tablaPrincipal{
    width: 100%;
    border-collapse: collapse;
    
}

.targes table.tablaPrincipal th{
    padding: .5em;
    border: 1px solid rgba(255,255,255,0.3);
    background: #079272;
    color: #fff;
}

.targes table.tablaPrincipal td{
    padding: .5em;
    border: 1px solid rgba(0,0,0,0.1);
    font-size: .9em;
    
}

.targes table.tablaPrincipal tbody tr:nth-child(2n){
    background: #f1f1f1;
}

