body{
    font-family: 'Open Sans', sans-serif;
    background: #F7FFFF;
}

header{
    background: #333;
    display: flex;
    justify-content: space-between;
}

.contenedor{
    padding: 1em;
}

main{
    margin-top: 50px;
}

.ventana{
    display: none;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0px;
    left: 0px;
    background: rgba(0,0,0,0.5);
    z-index: 120;
}


.ventana .contenido_v{
    margin: 50px auto;
    width: 800px;
    background: #fff;
}

.ventana .contenido_v .header_v{
    padding: 1em 2em;
    background: #f1f1f1;
}

.ventana .contenido_v .header_v h2{
    font-weight: 300;
    font-size: 1.3em;

}

.ventana .contenido_v .main_v{
    padding: 2em;
    background: #fff;
}

.ventana .contenido_v .main_v .campo{
    width: 100%;
    padding: 1em;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 5px;

}

.ventana .contenido_v .pie_v{
    display: flex;
    justify-content: flex-end;
    padding: 1em;
    background: #fafafa;
}

.ventana .contenido_v .pie_v .botones{
    display: flex;
}

.ventana .contenido_v .pie_v .botones .cancelar{
    width: 120px;
    padding: .5em 1em;
    background: #eee;
    margin-right: .5em;
    border: 1px solid rgba(0,0,0,0.1);
    text-align: center;
    cursor: pointer;
}

.ventana .contenido_v .pie_v .botones .agregar{
    width: 120px;
    padding: .5em 1em;
    background: #1384fd;
    color: #fff;
    border: 1px solid rgba(0,0,0,0.1);
    text-align: center;
    cursor: pointer;
}

.productos{
    margin: auto;
    width: 90%;
    padding: 1em;
    background: #F7FFFF;
    
}

.productos .title{
    font-weight: 300;
    font-size: 1.7em;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    margin-bottom: 1em;
    line-height: 2;
}

.productos .articulos{
    margin-top: 1em;
    margin: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.productos .articulos .prod{
    width: calc(33.33% - 1em);
    margin: .5em;
    background: #fff;
    border: 1px solid rgba(0,0,0,0.1);
}

.productos .articulos .prod .img{
    text-align: center;
    padding: .5em;
    height: 170px;
    overflow: hidden;
}


.productos .articulos .prod .img img{
    width: 50%;
   
}

.productos .articulos .prod .name{
    padding: 1em;
    background: #F0F1F3;
    height: 80px;
    border-top: 1px solid rgba(0,0,0,0.1);
}
.productos .articulos .prod .name h3{
    font-weight: bold;
    font-size: 1em;
    color: #273B65;
}

.productos .articulos .prod .papa{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    position: relative;
    padding: 1em;
    background: #fafafa;
}

.productos .articulos .prod .precio{
    width: 50%;
    padding: 1em;
    font-weight: bold;
}

.productos .articulos .prod .btn{
    width: 50%;
    height: 30px;
    padding: .2em;
    background: #1384fd;
    color: #fff;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .8em;
    font-weight: bold;
}

.productos .articulos .prod .btn:hover{
    cursor: pointer;
    background: rgba(39,59,101,0.7);
}

.san{
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: .7em;
    width: 20px;
    height: 20px;
    background: tomato;
    color: #fff;
    border-radius: 100%;
    position: absolute;
    right: 53px;
    top: 10px;

}


footer{
    position: relative;
}

.mensaje{
    position: fixed;
    right: 10px;
    bottom: 10px;
    width: 300px;
    padding: 1em;
    border-radius: 10px;
    background: #434747;
    color: #fff;
    z-index: 10;
    display: flex;
    align-items: center;
    font-size: .9em;
    animation-name: mensaje, irse;
    animation-delay: 0s, 5s;
    animation-duration: .5s, 2s;
    animation-fill-mode: forwards, forwards;
    animation-timing-function: ease-in-out, ease-in-out;
}


@-webkit-keyframes mensaje{
    from{
        bottom: -100px;
    }

    to{
        bottom:35px;
    }
}


@keyframes mensaje{
    from{
        bottom: -100px;
    }

    to{
        bottom:35px;
    }
}

@-webkit-keyframes irse{
    from{
        bottom: 35px;
    }

    to{
        bottom:-100px;
    }
}


@keyframes irse{
    from{
        bottom: 35px;
    }

    to{
        bottom:-100px;
    }
}
