/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10/11/2018, 09:49:00 PM
    Author     : santiagovelasco
*/

.mensaje{
    position: fixed;
    right: 10px;
    bottom: 10px;
    width: 300px;
    padding: 1em;
    border-radius: 10px;
    background: #434747;
    color: #fff;
    z-index: 10;
    display: flex;
    align-items: center;
    font-size: .9em;
    animation-name: mensaje, irse;
    animation-delay: 0s, 5s;
    animation-duration: .5s, 2s;
    animation-fill-mode: forwards, forwards;
    animation-timing-function: ease-in-out, ease-in-out;
}


@-webkit-keyframes mensaje{
    from{
        bottom: -100px;
    }

    to{
        bottom:35px;
    }
}


@keyframes mensaje{
    from{
        bottom: -100px;
    }

    to{
        bottom:35px;
    }
}

@-webkit-keyframes irse{
    from{
        bottom: 35px;
    }

    to{
        bottom:-100px;
    }
}


@keyframes irse{
    from{
        bottom: 35px;
    }

    to{
        bottom:-100px;
    }
}

.mensaje img{
    margin-right: .5em;
}

.ventana{
    display: none;
    width: calc(100% - 220px);
    height: calc(100vh - 70px);
    position: fixed;
    top: 70px;
    left: 220px;
    background: transparent;
    z-index: 10;
}



.ventana form{
    margin: 50px auto;
    width: 500px;
    padding: 1em;
    background: #fff;
    border-radius: 5px;
    position: relative;
    box-shadow: 0px 3px 5px 7px rgba(0,0,0,0.1);
}

.ventana .cerrar{
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
}

.ventana form h2{
    text-align: center;
    width: 100%;
    font-weight: 100;
    margin-bottom: 1em;
}

.ventana form table{
    width: 100%;
    border-collapse: collapse;
}

.ventana form table td{
   padding: 1em;
   border: 1px solid rgba(0,0,0,0.1);
   font-size: .9em;
}
.ventana form table .campo{
    width: 100%;
    padding: .5em;
    border: 1px solid rgba(0,0,0,0.1);
    outline-color: transparent;
    background: #f3f3f3;
    font-size: 1.1em;
}

.ventana form table .boton{
    background: #3b5998;
    color: #fff;
    width: 200px;
    border: 1px solid rgba(0,0,0,0.1);
    outline-color: transparent;
    padding: .5em;
    border-radius: 2px;
    font-family: 'Open Sans', sans-serif;
    box-shadow: 0px 1px 2px 3px rgba(0,0,0,0.2);
    cursor: pointer;
}

.verde{
    background: #C7E6DF;
}

.targes .nuevo{
    margin-bottom: 1em;
}

.targes table{
    width: 100%;
    border-collapse: collapse;
    
}

.targes table th{
    padding: .5em;
    border: 1px solid rgba(255,255,255,0.3);
    background: #079272;
    color: #fff;
}

.targes table td{
    padding: .5em;
    border: 1px solid rgba(0,0,0,0.1);
    font-size: .9em;
    
}

.targes table tbody tr:nth-child(2n){
    background: #f1f1f1;
}